<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285884386894-mejgpnoj1aiqoq0h81eb6ppmt7pk9evn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285884386894-mejgpnoj1aiqoq0h81eb6ppmt7pk9evn</string>
	<key>API_KEY</key>
	<string>AIzaSyA74J1P8rNKHboQBxklt_KOLEl9JBSPA6w</string>
	<key>GCM_SENDER_ID</key>
	<string>285884386894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Samridhagarwal.FlashChatiOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatios13-f8b46</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios13-f8b46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285884386894:ios:7447d820a906ac30823d1f</string>
</dict>
</plist>